/* Social floating menu */

.social {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 100px;
    height: 300px;
    z-index: 1100;
    align-items: center;
}

.social-item {
    margin: 20px;
}

.social-icon-link {
    color: rgba(0, 0, 0, 0.6);
    font-size: 40px;
}

.social-item:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}

/* Main nav bar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darker);
    height: 80px;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 6px solid var(--dark);
}

.navbar-container {
    height: 80px;
}

.nav-menu {
    display: flex;
    text-align: center;

    justify-content: center; 
}

.nav-item {
    height: 80px;
    margin-inline: 3vw;
}

.nav-links {
    color: var(--lighter);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 26px;
}

.nav-links:hover {
    border-bottom: 4px solid var(--lighter);
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    z-index: 2000;
    display: none;
}

/* From here on mobile settings */
@media screen and (max-width: 960px) {
    .NavbarItems {
	position: relative;
    }
    
    .nav-menu {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 60vh;
	position: absolute;
	top: -60vh;
	left: 0;
	transition: all 0.4s ease;
	border-bottom: 0px;
    }

    .nav-menu.active {
	background: var(--darker);
	top: 0;
	border-bottom: 8px solid var(--dark);
	transition: all 0.4s ease;
    }
    
    .nav-links {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 40vh;
    }
    
    .nav-links:hover {
        background-color: var(--lighter);
        color: var(--darker);
        border-radius: 0;
    }
    
    .menu-icon {
        display: flex;
        position: absolute;
        transform: translate(-100%, 60%);
        cursor: pointer;
        top: -6px;
        right: 0px;
    }
    
    .fa-bars {
        color: var(--lightest);
        font-size: 2.6rem;
    }

    .fa-times {
	color: var(--lightest);
	font-size: 3rem;
	margin-block: -3px;

    }
    
    .nav-links-mobile {
	display: block;
	text-align: center;
	margin: 2rem auto;
	border-radius: 4px;
	width: 80%;
	text-decoration: none;
	font-size: 1.5rem;
	background-color: transparent;
	color: var(--lighter);
	padding: 14px 20px;
	border: 1px solid var(--lighter);
	transition: all 0.3s ease-out;
    }
    
    .nav-links-mobile:hover {
	background: var(--lighter);
	color: var(--darker);
	transition: 250ms;
    }
}
